body {
	background-color: #e1e6f5;
}

#login_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 91vw;
	height: 60px;
	position: absolute;
	top: 12px;
	margin: auto;
}

#register_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 84vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#login_register_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 63vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#home_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 2vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#home_box2 {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 31vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

.button {
  	transition-duration: 0.4s;
	color: black;
}

.button:hover {
  	background-color: #7d848a;
	color: #455765;
}

#heading_box {
	border-radius: 0px;
	background: #2686d0;
	width: 98vw;
	height: 70px;
	margin: auto;
}

#heading_box2 {
	border-radius: 0px;
	background: #2686d0;
	width: 40vw;
	height: 70px;
	margin: auto;
}

#heading_box_text {
	font-weight: bold;
	width: 98vw;
	position: absolute;
	text-align: center;
}

#heading_box2_text {
	font-weight: bold;
	width: 40vw;
	position: absolute;
	text-align: center;
}

h3 {
	font-weight: bold;
	text-align: center;
	width: 6vw;
	position: absolute;
}

.center_div {
	margin: auto;
}

.center_text {
	text-align: right;
}

#main_body_box {
	border-radius: 0px;
	background: #2686d0;
	width: 94vw;
	height: 80vh;
	margin: auto;
	position: relative;
}

#main_body_box #main_home_box_left {
	border-radius: 25px;
	width: 35%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#main_body_box #main_home_box_right {
	border-radius: 25px;
	width: 55%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#main_body_box #main_home_box_right #inputBox{
	width : 70%;
	height : 80%;
    position: absolute;
	border-top: 50px;
	border-left: 15px;
}

#inputBox #submitReview{
	justify-content: center;
	align-items: center;
	float:right;

}

h2.center {
	text-align: center;
}

#main_home_box_right li {
	background-color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 675px;
    margin-bottom: 50px;
}

#main_home_box_right img{
	float: left;
	width: 150px;
	height: 70px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: none;
}


#click_to_review {
	padding-left: 40px;
}

#course_link {
	font-size: 20px;
	position: relative;
    left: 3%;
    top: 40%;
    position-anchor: 50% 50%;
    text-decoration: none;
    color: black;
}

nav ul {
	height:500px; 
	width:675px;
	overflow:hidden;
	overflow-y:scroll;
}

