body {
	background-color: #e1e6f5;
}

#login_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 91vw;
	height: 60px;
	position: absolute;
	top: 12px;
	margin: auto;
}

#register_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 84vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#login_register_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 63vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#home_box {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 2vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

#home_box2 {
	border-radius: 25px;
	background: #60a4dc;
	width: 6vw;
	left: 31vw;
	height: 60px;
	position: absolute;
	top: 12px;
}

.button {
  	transition-duration: 0.4s;
	color: black;
}

.button:hover {
  	background-color: #7d848a;
	color: #455765;
}

#heading_box {
	border-radius: 0px;
	background: #2686d0;
	width: 98vw;
	height: 70px;
	margin: auto;
}

#heading_box2 {
	border-radius: 0px;
	background: #2686d0;
	width: 40vw;
	height: 70px;
	margin: auto;
}

#heading_box_text {
	font-weight: bold;
	width: 98vw;
	position: absolute;
	text-align: center;
}

#heading_box2_text {
	font-weight: bold;
	width: 40vw;
	position: absolute;
	text-align: center;
}

h3 {
	font-weight: bold;
	text-align: center;
	width: 6vw;
	position: absolute;
}

.center_div {
	margin: auto;
}

.center_text {
	text-align: right;
}

#main_body_box {
	border-radius: 0px;
	background: #2686d0;
	width: 94vw;
	height: 80vh;
	margin: auto;
	position: relative;
}

#main_body_box #main_home_box_left {
	border-radius: 25px;
	width: 35%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#main_body_box #main_home_box_right {
	border-radius: 25px;
	width: 55%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

h2.center {
	text-align: center;
}

#main_home_box_right li {
	background-color: grey;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 675px;
    margin-bottom: 50px;
}

#main_home_box_right img{
	text-align: left;
	object-fit: contain;
	width: 98px;
	height: 98px;
}

nav ul {
	height:500px; 
	width:675px;
	overflow:hidden;
	overflow-y:scroll;
}

