body {
    background-color: #e1e6f5;
}

#login_box {
    border-radius: 25px;
    background: #60a4dc;
    width: 8vw;
    left: 90vw;
    height: 60px;
    position: absolute;
    top: 15px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 7px;

}

#register_box {
    border-radius: 25px;
    background: #60a4dc;
    width: 8vw;
    left: 81vw;
    height: 60px;
    position: absolute;
    top: 15px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
}

#login_register_box {
    border-radius: 25px;
    background: #60a4dc;
    width: 8vw;
    left: 63;
    height: 60px;
    position: absolute;
    top: 15px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
}

#home_box {
    border-radius: 25px;
    background: #60a4dc;
    width: 8vw;
    left: 2vw;
    height: 60px;
    position: absolute;
    top: 15px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
}

#home_box2 {
    border-radius: 25px;
    background: #60a4dc;
    width: 6vw;
    left: 31vw;
    height: 60px;
    position: absolute;
    top: 12px;
}

.button {
    transition-duration: 0.4s;
    color: black;
}

.button:hover {
    background-color: #7d848a;
    color: #455765;
}

#heading_box {
    border-radius: 0px;
    background: #2686d0;
    width: 98vw;
    height: 70px;
    margin: auto;
    margin-top: 10px;
}

#heading_box2 {
    border-radius: 0px;
    background: #2686d0;
    width: 40vw;
    height: 70px;
    margin: auto;
}

#heading_box_text {
    font-weight: bold;
    width: 98vw;
    position: absolute;
    text-align: center;
    margin-top: 15px;
}

#heading_box2_text {
    font-weight: bold;
    width: 40vw;
    position: absolute;
    text-align: center;
}

#main_body_box_account {
	border-radius: 0px;
    background: #2686d0;
    width: 94vw;
    height: 80vh;
    margin: auto;
    position: relative;
    top: 39px;


}

h3 {
    font-weight: bold;
    text-align: center;
    width: 6vw;
    position: absolute;
}

.center_div {
    margin: auto;
}

.center_text {
    text-align: right;
}

#main_body_box {
    border-radius: 0px;
    background: #2686d0;
    width: 94vw;
    height: 80vh;
    margin: auto;
    position: relative;
    top: -10px;
}


#main_body_box #main_home_box_left {
    border-radius: 25px;
    width: 35%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#main_body_box #main_home_box_right {
    border-radius: 25px;
    width: 55%;
    height: 90%;
    background: #60a4dc;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

h2.center {
    text-align: center;
}

#main_home_box_right li {
    background-color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 675px;
    margin-bottom: 50px;
}

#main_home_box_right img{
    float: left;
    width: 150px;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: none;
}

#main_home_box_left #courses {
    background-color: #d9d9d9;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 400px;
    margin-bottom: 50px;
}

#main_home_box_left #noReviews {
    margin-left: 100px;
}

#main_home_box_left #acountTitle{
    margin-top: 20px;
}

#main_home_box_left #email{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 10px;
}

#main_home_box_left #username{
    font-size: 20px;
    margin-left: 10px;
}

#main_home_box_left #logout{
    color: #1a1d20;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: -250px;
    margin-right: 10px;
}

#main_home_box_left #createdCourseTitle {
    padding-top: 20px;
    padding-bottom: 10px;
}

#userNotLoggedIn {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

#main_home_box_left img{
    float: left;
    width: 150px;
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: none;
}

#main_home_box_left #courseNotReviewedTitle{
    margin-top: 20px;
}

#main_home_box_left #noCoursesReviewed{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

#click_to_review {
    padding-left: 40px;
}

#course_link {
    font-size: 20px;
    position: relative;
    left: 3%;
    top: 40%;
    position-anchor: 50% 50%;
    text-decoration: none;
    color: black;
}

nav ul {
    height:400px;
    width:730px;
    overflow: scroll;
    overflow-x: hidden;
}

#main_home_box_right #reviewTextBox {
    right: -20px;
    position: absolute;
    height: 350px;
    width: 680px;
    margin: 50px;
    background-color: #d9d9d9;
    text-align: left;
    resize: none;
    margin-top: 70px;
}

#main_home_box_right #homeCourseHeading{
    margin-top: 20px;
}

#main_home_box_right #accountRight{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

#main_home_box_right #review{
    margin-left:350px;
    margin-right:auto;
    margin-top: 20px;
}

#main_home_box_right #submitButton{
    position: absolute;
    bottom: 60px;
    left: 615px;
    margin-top: 25px;
    height: 30px;
    width: 100px;
    background-color: #d9d9d9;
}

#main_home_box_right #createNewCourse {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#main_home_box_right #IDtext {
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    margin-top: 60px;
}

#main_home_box_right #nameText {
    position: relative;
    top: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    margin-top: 60px;
}

#main_home_box_right #photoText {
    position: relative;
    top: 40px;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    margin-top: 60px;
}

#main_home_box_right #courseID {
    position: relative;
    top: -60px;
    float: right;
    height: 55px;
    width: 450px;
    margin-right: 50px;
    background-color: #d9d9d9;
    font-size: 20px;
}

#main_home_box_right #name {
    position: relative;
    top: -40px;
    float: right;
    height: 55px;
    width: 450px;
    margin-right: 50px;
    background-color: #d9d9d9;
    font-size: 20px;
}


input#picture{
    display: none;
}

input#picture + label{
    position: relative;
    top: -20px;
    float: right;
    height: 55px;
    width: 450px;
    margin-right: 50px;
    background-color: #d9d9d9;
}

input#picture + label:hover{
    background-color: #adadad;
    cursor: pointer;
}

#main_home_box_right .custom-file-upload {
    border: 1px solid black;
    background-color: #d9d9d9;
    display: inline-block;
    text-align: center;
    position: relative;
    float: right;
    top: -20px;
    margin-right: 50px;
    height: 55px;
    width: 450px;
}

#main_home_box_right #span {
    position: relative;
    top:-15px;
    left: 155px;
    float: right;
    height: 55px;
    width: 450px;
    margin-right: 50px;
}

#main_home_box_right #courseSubmit {
    position: relative;
    top: 30px;
    left: 225px;
    float: right;
    margin-right: 50px;
    background-color: #d9d9d9;
    padding: 15px;

}

#main_home_box_right #noReviews{
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#main_home_box_right #mostUpVoted{
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#main_home_box_left #courseTitle{
    text-align: center;
    padding-top: 20px;
}
#main_home_box_left #reviews{
    white-space: normal;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    max-width: 400px;
}

#main_home_box_left #reviewsTitle{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 25px;
}

.scroll_for_reviews {
    height:300px;
    width:440px;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll_for_reviews_account {
    height:400px;
    width:700px;
    overflow: scroll;
    overflow-x: hidden;
}

#main_body_box_account #username_login_form {
    position: relative;
    margin-top: 100px;
    height: 50px;
    right: 30px;
    align-self: center;
    max-width: 300px;
    margin: auto;
    top: 140px;
    text-align: left;
}

#main_body_box_account #register_form {
    vertical-align: auto;
    position: relative;
    height: 100px;
    right: 30px;
    align-self: center;
    max-width: 300px;
    margin: auto;
    top: 100px;
    text-align: left;
}

#main_body_box_account #login_boxes {
    border-radius: 10px;
    height: 30px;
    /*width: 200px;*/
}

#main_body_box_account .register_boxes {
    border-radius: 10px;
    height: 30px;
    width: 360px;
    /*width: 200px;*/
}

#main_body_box_account #submit_account_form {
    border-radius: 25px;
    background: #60a4dc;
    width: 6vw;
    left: 140px;
    height: 60px;
    position: absolute;
}

#main_body_box_account #submit_register_form {
    border-radius: 25px;
    background: #60a4dc;
    width: 10vw;
    left: 118px;
    height: 60px;
    position: absolute;
}

#main_body_box_account #login_feedback {
    top: 370px;
    left: 270px;
    height: 60px;
    position: absolute;
}

#png{
    font-size: 13px;
}
