{% extends 'course_feedback/base_account.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
    {% if user.profile.get_is_lecturer is False %}
    <h2>Your Reviews:</h2>
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>{{ review.content }} - {{ review.course }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>You haven't written any reviews yet.</p>
        {% endif %}
    {% endif %}
        <a href="{% url 'course_feedback:logout' %}">Logout</a>
{% endblock %}
