{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block home_box_left_block %}
    <h1> Hi {{ user.username }} !</h1>
    <br />
    <h2> Your email:</h2>
        <ul> {{ user.email }} </ul>
    <br />
    <h2><a href="{% url 'course_feedback:logout' %}">Logout</a><h2>
{% endblock %}

{% block home_box_right_block %}
    {% if user.profile.get_is_lecturer is False %}
    <h2>Your Reviews:</h2>
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>{{ review.content }} - {{ review.course }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>You haven't written any reviews yet.</p>
        {% endif %}
    {% endif %}
{% endblock %}
