{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block home_box_left_block %}
    <h2 class=center id="acountTitle"> Your Account</h2>
    <br />
    <p id="email"> Your email: {{ user.email }}</h2>
    <br />
    <p id="username"> Your username: {{ user.username }}</h2>
    <br />
    {% if user.profile.get_is_lecturer is False %}
        <p id="accountType"> Your account type: Student</h2>
    {% elif user.profile.get_is_lecturer is True %}
        <p id="accountType"> Your account type: Lecturer</h2>
    {% else %}
        <p id="accountType"> Your account type: Not Allocated</h2>
    {% endif %}
    <p id="logout"><a href="{% url 'course_feedback:logout' %}">Logout</a></h2>
{% endblock %}

{% block home_box_right_block %}
    {% if user.profile.get_is_lecturer is False %}
    <h2 id="accountRight">Your Reviews:</h2>
        {% if reviews %}
        <nav>
            <ul class="scroll_for_reviews_account">
                {% for review in reviews %}
                    <li id="reviews">{{ review.content }} <br/>- <strong>{{ review.course }}</strong> <br />- <strong>{{ review.upvotes }}</strong> people agree</li>
                {% endfor %}
            </ul>
        </nav>
        {% else %}
            <p id="noCreatedCourses">You haven't written any reviews yet.</p>
        {% endif %}
    {% elif user.profile.get_is_lecturer is True %}
        <h2 id="accountRight">Your Created Courses:</h2>
        {% if createdCourses %}
        <nav>
            <ul>
            {% for course in createdCourses %}
                <li id="courses">
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <p id="noCreatedCourses">You haven't created any courses.</p>
        {% endif %}
    {% else %}
        <p id="userNotAllocatedRole">Once you have been allocated a role you will see personalised content</p>
    {% endif %}
{% endblock %}