<!DOCTYPE html>
{% load staticfiles %}

<html>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
    <head>
        <link rel="icon" href="static/images/favicon.ico">
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
    <div id="heading_box">
        <h2 id="heading_box_text">Campus Opinion</h2>
        <a href="{% url 'course_feedback:index' %}"><div id="home_box" class="button"><h3>Home</h3></div></a>
        {% if user.is_authenticated %}
            <a href="{% url 'course_feedback:account' %}"><div id="login_box" class="button"><h3>Account</h3></div></a>
        {% else %}
            <a href="{% url 'course_feedback:register' %}"><div id="register_box" class="button"><h3>Register</h3></div></a>
            <a href="{% url 'course_feedback:login' %}"><div id="login_box" class="button"><h3>Login</h3></div></a>
        {% endif %}
    </div>

    <br />
    <br />
    <div id="main_body_box">
        <div id="main_home_box_left">
            {% block home_box_left_block %}
            {% endblock %}
        </div>
        <div id="main_home_box_right">
            {% block home_box_right_block %}
            {% endblock %}
        </div>
    </div>
    {% block body_block %}
    {% endblock %}

{#    <script src="{% static "js/wad-jquery.js" %}" crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static "js/ajax.js" %}" crossorigin="anonymous"></script>

    </body>

</html>