{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Course Page
{% endblock %}

{% block body_block %}

    {#  add course based boxes  #}



    {#  add in user based page filling to allow different users to see different content  #}
    {#  course form  #}

    <form id="course _form" method="post" enctype="multipart/form-data" action="{% url 'course_feedback:course' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Create Course" />
    </form>

{% endblock %}