{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if course %}
        {{ course.name }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if course %}
    <h1>{{ course.name }}</h1>
    {% if reviews %}
    <ul>
        {% for review in reviews %}
        <li><a href="{{ review.url }}">{{ review.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No reviews currently in course.</strong>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'rango:add_review' course.slug %}">Add Review</a><br />
    {% endif %}
    {% else %}
    The specified course does not exist
    {% endif %}
{% endblock %}
