{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if course %}
        {{ course.name }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}

{% block home_box_left_block %}
    {% if course %}
        <h1 id="courseTitle">{{ course.name }}</h1>
        <p id="reviewsTitle">Reviews:</p>
        {% if reviews %}
        <ul class="scroll_for_reviews">
            {% for review in reviews %}
                <div>
                    <li id="reviews">{{ review.content }}</li>
                    <a><strong>{{ review.upvotes }}</strong> upvotes</a>
                    <button id="like_btn"
                        review-id="{{ review.content }}"
                        type="button">
                        upvote
                    </button>
                </div>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No reviews currently in course.</strong>
        {% endif %}
    {% else %}
    The specified course does not exist
    {% endif %}
{% endblock %}

{% block home_box_right_block %}
    {% if not user.is_authenticated %}
        <p id="userNotLoggedIn">You aren't logged in yet!</p>
        <p id="userNotLoggedIn">Register or log in to leave a review!</p>
    {% elif user.is_active %}
        {% if user.profile.get_is_lecturer is False %}
        <h3 id="review">Review:</h3> 
        <form method="post" method="post" action="{% url 'course_feedback:show_course' course.slug %}">
            {% csrf_token %}
            <textarea id="reviewTextBox" name="content" rows="4" cols="50"></textarea>
            <input id="submitButton" type="submit" value="Add Review"/>
        </form>
        {% else %}
            <p id="noReviews">Number of reviews: {{ course.num_reviews }}</p>  <!--Lectuers and unallocated users see this -->
            <p id="mostUpVoted">Most Upvoted review: {{ reviews.upvotes.MAX }}
        {% endif %}
    {% else %}
        <h3>You aren't logged in yet!</h3>
        <h3>Log-in to see personalized data</h3>
    {% endif %}
{% endblock %}