{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block home_box_left_block %}

    {% if not user.is_authenticated %}
        <p id="userNotLoggedIn">Register or login in order to see more content.</p>
    {% elif user.is_active %}
        {% if user.profile.get_is_lecturer is True %}
            <h2 class="center" id="createdCourseTitle">Created Courses</h2>
        {% if courses %}
        <nav>
            <ul>
            {% for course in courses %}
                <li id="courses">
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <br />
            <p>There are no courses present.</p>
        {% endif %}

        {% elif user.profile.get_is_lecturer is False %}
            <h2 class="center" id="courseNotReviewedTitle">Courses not reviewed</h2>
        {% if course_to_review %}
        <p id="click_to_review">Click to review:</p>
        <nav>
            <ul>
            {% for course in course_to_review %}
                <li id="courses">
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <br />
            <p id="noCoursesReviewed">There are no unreviewed courses</p>
        {% endif %}
        {% else %}
            <h2>User is waiting to be allocated a role.</h2>
        {% endif %}

    {% else %}
        <p>You aren't logged in yet!</p>
        <p>Log-in to see personalized data</p>
    {% endif %}
    {#  add main body boxes showing for showing overall information  #}

    {#  add in user based page filling to allow different users to see different content  #}
{% endblock %}

{% block home_box_right_block %}


    {% if user.is_authenticated and user.profile.get_is_lecturer is True %}
        <h2 id="createNewCourse">Create New Course</h2>
        <form method="post" action="{% url 'course_feedback:index' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p id="IDtext">Course ID: </p><input id="courseID" type="text" name="courseID" value="" size="5" />
            <p id="nameText">Course Name: </p><input id="name" type="text" name="name" value="" size="50" />
            <p id="photoText">Course Photo: </p><input type="file" id="picture" name="picture" />
            <label for="picture" class="custom-file-upload">
                <br />
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/></svg>
                &nbsp;Choose a photo
            </label>
            <span id="span">
                <strong>Chosen file:</strong>
                <span id="file-name">None</span>
            </span>
            <input id="courseSubmit" type="submit" value="Add Course"/>
        </form>

    {% else %}
        <h2 class="center" id="homeCourseHeading">Courses</h2>
        {% if courses %}
        <p id="click_to_review">Click to review:</p>
        <nav>
            <ul>
            {% for course in courses %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <br />
            <p>There are no courses present.</p>
        {% endif %}
    {% endif %}
    {#  add main body boxes showing for showing overall information  #}

    {#  add in user based page filling to allow different users to see different content  #}
{% endblock %}