{% extends 'course_feedback/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block home_box_left_block %}

    {% if not user.is_authenticated %}
        <p>Register or login in order to see more content.</p>
    {% elif user.is_active %}
        {% if user.profile.get_is_lecturer is True %}
            <h2 class="center">Created Courses</h2>
        {% if courses %}
        <nav>
            <ul>
            {% for course in courses %}
                <li id="courses">
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <br />
            <p>There are no courses present.</p>
        {% endif %}
        {% elif user.profile.get_is_lecturer is False %}
            <h2>User will see student specific content.</h2>
        {% else %}
            <h2>User is waiting to be allocated a role.</h2>
        {% endif %}
    {% else %}
        <p>You aren't logged in yet!</p>
        <p>Log-in to see personalized data</p>
    {% endif %}
    {#  add main body boxes showing for showing overall information  #}

    {#  add in user based page filling to allow different users to see different content  #}
{% endblock %}

{% block home_box_right_block %}


    {% if user.is_authenticated and user.profile.get_is_lecturer is True %}
        <h2 id="createNewCourse">Create New Course</h2>
        <form method="post" action="{% url 'course_feedback:index' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p id="IDtext">Course ID: </p><input id="courseID" type="text" name="courseID" value="" size="5" />
            <p id="nameText">Course Name: </p><input id="name" type="text" name="name" value="" size="50" />
            <p id="photoText">Course Photo: </p><input type="file" id="picture" name="picture" />
            <label for="picture" class="custom-file-upload">
                <i class="glyphicon glyphicon-open"></i>
                &nbsp;Choose a photo
            </label>
            <span id="span">
                <strong>Chosen file:</strong>
                <span id="file-name">None</span>
            </span>
            <input id="courseSubmit" type="submit" value="Add Course"/>
        </form>

    {% else %}
        <h2 class="center">Courses</h2>
        {% if courses %}
        <p id="click_to_review">Click to review:</p>
        <nav>
            <ul>
            {% for course in courses %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ course.picture }}" alt="Picture of a Course"/>
                    <a id="course_link" href="{% url 'course_feedback:show_course' course.slug %}">{{ course.courseID }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% else %}
            <br />
            <p>There are no courses present.</p>
        {% endif %}
    {% endif %}
    {#  add main body boxes showing for showing overall information  #}

    {#  add in user based page filling to allow different users to see different content  #}
{% endblock %}
