{% extends 'course_feedback/base_account.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div id="main_body_box_account">
        <form method="post" action="">
            {% csrf_token %}
            <div id="username_login_form">
                Username: <input id="login_boxes" type="text" name="username" value="" size="50" />
            </div>
            <br />
            <div id="username_login_form">
                Password: <input id="login_boxes" type="password" name="password" value="" size="50" />
            </div>
            <br />
            <div id="username_login_form">
                <input id="submit_account_form" type="submit" value="submit" />
            </div>
            <div id="login_feedback">{{ registered }}</div>
        </form>

    </div>

{% endblock %}