{% extends 'course_feedback/base_account.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
   
    <div id="main_body_box_account">
        <form id="user_form" method="post" action="">
            {% csrf_token %}
            <div id="register_form">
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input id="submit_register_form" type="submit" name="submit" value="Register Account" />
            </div>
        </form>
    </div>
{% endblock %}